{% extends "common/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/bundle/home.css') }}">
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="path">
            <a href="" id="root-path">Notes</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle/home.js') }}"></script></body>
{% endblock %}
