{% extends "common/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/bundle/home.css') }}">
{% endblock %}

{% block content %}
    <h1>Yelo!</h1>

    <button id="sample" class="mdc-button foo-button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Button</span>
    </button>   

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle/home.js') }}"></script></body>
{% endblock %}
