.ant-layout-footer {
    background-color: #001529;
    color: white;
}
.site-info {
    text-align: center;
    
    * {
        color: #ffffffcf;
    }

    a:hover {
        text-decoration: underline;
    }
}